# macOS Files
**/.DS_Store

# checkpoints
.ipynb_checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# scratch files
/scraper.ipynb
.ipynb_checkpoints/data_collection-checkpoint.ipynb

# folders
driver/