# macOS Files
**/.DS_Store

# checkpoints
.ipynb_checkpoints
.ipynb_checkpoints/
/.ipynb_checkpoints/
*/.ipynb_checkpoints/*
.ipynb_checkpoints/data_collection-checkpoint.ipynb

# scratch files
/scratch_functions.py
scratch_functions.py
capstone_functions/scrach_functions.py
/capstone_functions/scrach_functions.py
data_collection-Copy1.ipynb
data_collection-Copy1-scratch.ipynb

# API
/mapbox_token

# folders
/driver/
driver/

