# macOS Files
**/.DS_Store

# checkpoints
.ipynb_checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
.ipynb_checkpoints/data_collection-checkpoint.ipynb

# scratch files
/scraper.ipynb
/NLP_processing_scratch.ipynb

# folders
/driver/
driver/
